* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #2f4bc7;
    --primary-color-hover: #3656e6;
    --error-color: rgb(235, 65, 65);
    --error-color-background: rgba(255, 30, 0, 0.486);
    --success-color:  #13bb1b;
    --drop-background: #cee2ff42;
    --drop-border: #cee2ff;
}

.app {
    width: 100vw;
    height: 100vh;

    color: rgb(26, 26, 26);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30%;
    min-width: 250px;
    height: 60%;
    padding: 1.5em 1em;
    margin: 5%;

    border-radius: 10px;
    box-shadow: 0 0 7px rgb(201, 201, 201);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 90%;
    max-height: 70%;

    border-radius: 10px;
}

.container h2 {
    color: #000;
    font-size: 35px;
    margin: 5px 0px;
    align-self: center;
}

.container h6 {
    color: #000;
    font-size: 20px;
    margin: 5px 0px;
    align-self: center;
}

.container span {
    margin: 5px 0px;
}

.container .error{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    color: var(--error-color);
}

.hide {
    display: none;
}

.container .success {
    color: var(--success-color);
}

.drop-zone{
    width: 90%;
    height: 100%;
    margin-bottom: 10px;

    border: 3px dashed var(--drop-border);
    border-radius: 10px;

    background-color: var(--drop-background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone .material-icons{
    font-size: 5em;
}

.drop-zone .drop-text{
    font-size: 20px;
}

.drop-zone .hover {
    opacity: 0.5;
}

.Upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type="file"]{
    display: none;
}

input[type="text"]{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    padding: 3px 6px;
    margin-top: 10px;
}

label, .button{
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

label:hover, .button:hover {
    background-color: var(--primary-color-hover);
}
